<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Equipment Page</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="indigo-darken-2">
  <div class="display-flex-center">
    <h1 class="white-text center"> Welcome to the Social Gym! </h1>
    <p class="white-text center">
      To get started, download the Physical Web Application and start looking for beacons nearby.
    </p>
    <div>
      <a href="https://itunes.apple.com/us/app/physical-web/id927653608?mt=8" class="waves-effect waves-light btn pink">iOS</a>
      <a href="https://play.google.com/store/apps/details?id=physical_web.org.physicalweb&hl=en" class="waves-effect waves-light btn pink">Android</a>
    </div>
  </div>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.min.js"></script>
</body>
</html>
